
body{
    margin: 0;
    display: flex;
    justify-content: center;
    font-family:Arial, Helvetica, sans-serif;
    align-items: center;
    height: 100vh;
}


#kalkulator{
    background-color: #F5AFAF;
    max-width: 500px;
    border-radius: 20px;
    overflow: hidden;

}

#display{
    width: 100%;
    padding: 20px;
    font-size: 5rem;
    text-align: left;
    border: none;
    background-color: #F9DFDF;
    color: #F5AFAF;
}

#keyboard{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 25px;
    overflow: hidden;
}

button{
    width: 100px;
    height: 100px;
    background-color: #FCF8F8;
    border-radius: 50px;
    border: 0;
    color: #F5AFAF;
    font-weight: bold;
    font-size: 3rem;
    cursor: pointer;
}

button:hover{
    background-color: hsl(0, 40%, 68%);
}

button:active{
    background-color: hsl(0, 68%, 85%);
}

.operator{
    background-color: hsl(0, 60%, 90%);
}