
body{
    font-family:Arial, Helvetica, sans-serif;
}

#kalkulator{
    background-color: #F9DFDF;
    
}

#keyboard{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button{
    width: 100px;
    height: 100px;
    background-color: #FCF8F8;
    border-radius: 50px;
    border: 0;
    color: #F5AFAF;
    font-weight: bold;
    font-size: 3rem;
    cursor: pointer;
}